.idea
# Python compiled files
*.pyc
__pycache__/

# Django migrations
main/migrations/
chatbot/migrations/
content/migrations/
gamification/migrations/
moodtracking/migrations/
users/migrations/
support/migrations/

# Logs
debug.log

# Static files
/static/

# Virtual environment
venv/
